.custom-bg {
    background-color: #efaa58 !important;
    border-color: transparent !important;
}
.btn-bg {
    background-color: #efaa58 !important;
    border-color: #efaa58 !important;
}
.nav-bg {
    background-color: #d98219;
}
.custom-color {
    color: #b76c11 !important;
}
.custom-btn {
    color: #d27f1b !important;
    border-color: #d27f1b !important;
    background-color: white !important;
}
.custom-btn-default {
    color: white !important;
    border-color: #d27f1b !important;
    background-color: #d27f1b !important;
}

.custom-btn:hover {
    color: white !important;
    border-color: #d27f1b !important;
    background-color: #d27f1b !important;
}
.custom-nav-link {
    color: #d27f1b !important;
    background-color: #fff !important;
    height: 40px;
    padding-top: 10px;
}
.custom-nav-link.active {
    color: #fff !important;
    background-color: #d27f1b !important;
    height: 43px;
    padding-top: 11px;
    font-size: 14px !important;
}
.nav-link {
    font-size: 13px !important;
}
.small-text {
    font-size: 14px !important;
    color: #523615 !important;
    font-family: sans-serif !important;
}
.login-color {
    color: #a96514 !important;
}
.login-card {
    box-shadow: 0 0 0.5rem 0 #c57411 !important;
}
main {
    overflow-x: hidden;
    min-height: 75vh;
}
.toggleForms {
    display: none !important;
}
.pointer:hover {
    cursor: pointer !important;
}
.material-icons {
    display: none !important;
}
.new-feeds {
    background-color: aliceblue !important;
    font-weight: bold !important;
}
.custom-badge {
    background-color: #908888 !important;
    margin-left: 5px !important;
}
.custom-td {
    white-space: break-spaces !important;
    min-width: 150px !important;
}
.tableFixHead {
    overflow-y: auto;
    height: 50vh;
    background-color: whitesmoke;
}
.td-text {
    font-size: 11px !important;
}
.icon-delete {
    color: #f35e2f;
}
.icon-edit {
    color: #2196f3;
}
.custom-icon {
    cursor: pointer;
    font-weight: bold;
}
.tableFixHead thead th {
    position: sticky !important;
    top: 0 !important;
}
.total-row {
    font-weight: bold;
}
.custom-th {
    font-weight: bold !important;
}
.error {
    color: red;
    font-size: 12px;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.custom-close {
    font-size: 30px !important;
    color: black !important;
}
.waiting {
    cursor: not-allowed !important;
}


/*----------------------- projects css -----------------------------*/
.custom-card > .card-img-top {
    margin: 5px auto;
    width: 70%;
}

.custom-btn-black {
    color: #353854 !important;
    border-color: #353854 !important;
    background-color: white !important;
}
.custom-btn-black:hover {
    color: white !important;
    border-color: #353854 !important;
    background-color: #353854 !important;
}
.project-add-exp {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #d27f1b;
}
.project-add-exp:hover {
    background-color: #d27f1b;
    color: white;
}
.breadcrumb {
    background-color: #fffaf5;
    height: 30px;
    align-content: center;
}
.nav-expenses > .nav-tabs {
    background-color: #d98219;
    height: 45px;
    justify-content: center;
    align-content: flex-end;
    border-radius: 30px;
}
.nav-expenses > .nav-tabs > .nav-item {
    height: 35px;
}
.nav-expenses > .nav-tabs > .nav-link {
    color: white;
}
.nav-expenses > .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #d98219;
    font-weight: bold;
}
.accordion-expense > .card {
    border-radius: 0;
}
.accordion-expense > .card > .card-header {
    background-color: white;
}
.accordion-expense> .card> .card-header:hover> h2:hover {
    font-weight: bold;
    background: #efeeec;
}
.accordion-expense> .card> .card-header:hover {
    background: #efeeec;
}
.project-btn {
    color: #d27f1b;
}
.project-btn:hover {
    background-color: #d27f1b;
    color: white;
}
.accordion .card-header:after {
    display: none;
}
.browse-add-exp {
    color: #d27f1b;
}
.browse-add-exp:hover {
    background-color: #d27f1b;
    color: white;
}